/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 juil. 2023, 08:54:49
    Author     : ORDI
*/
body{
    /*background-color: #120B4D;*/
    background-image: url("assets/Bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.image{
    width:50%;
    
}
img{
    position:absolute;
    left:0px;
    top:30px;
   width: 600px;
   height: 550px;
}
.authentification{
    position: absolute;
    top: 42px;
    left: 800px;
    right: 92px;
    width: 430px;
    height: 394px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff40;
    border-radius: 10px;
    backdrop-filter: blur(70px);
    box-shadow: 5px 6px 20px 8px rgb(95 95 95 / 22%);
    justify-content: center;
    display: flex;
    align-items: center;
}
h1{
    /* text-align:center;
    color:#0400ff;
    text-shadow: 2px 2px 5px rgb(0, 204, 255);
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #fff;
    text-align: center;
    text-shadow: 2px 4px 2px #1f84f8;
    font-family: Copperplate, Papyrus, fantasyt;
}
div{
    padding: 10px;
}
input[type="submit"], input[type="reset"]{
    width:150px;
    border:1px;
    border-radius: 4px;
    padding: 10px;
}
input[type="submit"]{
    /* background-color:#209900 ;
    color:#ffff; */
    background: linear-gradient(to right, #ff3100, #142983);
    color: #fff;
}
input[type="submit"]:hover{
    cursor:pointer;
    transition: 0.5s;
    background:  linear-gradient(to right, #ffffff, #ffffff);
    color:#142983;
    border:1px solid #ffff;
}
input[type="reset"]{
    background-color:#D50022 ;
    color:#ffff;
}
input[type="reset"]:hover{
    cursor:pointer;
    transition: 0.5s;
    background-color:#ffff ;
    color:#D50022;
    border:1px solid #D50022;
}
input[type="text"], input[type="password"], select{
    width:100%;
    padding:8px;
    border:none;
    
}
select{
   background-color: #f1f1f1;
}
select:focus{
    box-shadow: 5px 5px 5px #00ABFF;
    outline: none;
}
input[type="text"], input[type="password"]{
    /* border-bottom: 2px solid  #303030; */
    outline: none;
    outline: none;
    background-color: #0f020200;
    border-bottom: 1px solid #fff;
}
input[type="password"]:focus{
     background-color: #f1f1f1;
}
input[type="text"]:focus{
    background-color: #f1f1f1;
}

